#history {
  position: absolute;
  width: 100vw;
  height: calc(50vh - 65px);
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  margin-top: 50px;
  transition: opacity 0.5s 0.2s;
}

.history-item {
  margin-top: 10px;
  width: 100vw;
  color: grey;
}

.history-padding-text {
  color: white;
}
