#history {
  position: absolute;
  width: 100vw;
  height: calc(50vh - 65px);
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  transition: opacity 1s 0.2s, margin-top 1s 0.2s;
}

/* when screen is narrow - do not display history */
@media (max-height: 380px), (max-width: 920px) {
  #history {
    display: none;
  }
}

.history-item {
  margin-top: 10px;
  width: 100vw;
  color: grey;
}

.history-padding-text {
  color: white;
}

.history-hidden {
  opacity: 0;
  margin-top: 0px;
}

.history-visible {
  opacity: 1;
  margin-top: 50px;
}
