#icon-mode-panel {
  position: absolute;
  margin-top: -30vh;
  left: 50%;
  transform: translateX(-50%);
  width: 420px;
  height: 120px;
  background-color: rgb(249, 249, 249);
  border-radius: 25px;
  padding-top: 20px;
}

.icon-mode-panel-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  transition: 0.8s;
}

#icon-mode-icons-container {
  margin-top: 23px;
}

#icon-mode-upload-icon-button {
  background-color: #1160a2;
  height: 40px;
  min-width: 50px;
}

#icon-mode-user-icon-container {
  vertical-align: middle;
  opacity: 0;
}
