#icon-mode-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 81px;
  border-radius: 8px;
  padding-top: 8px;
  margin-top: -17.5vh;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

/* when screen is narrow - move the panel upwards */
@media (max-height: 516px) {
  #icon-mode-panel {
    margin-top: -32vh;
  }
}

/* when screen is narrow - reduce the size of the panel and the margin between text and icons */
@media (max-height: 465px) {
  #icon-mode-panel {
    margin-top: -32vh;
    height: 95px;
    padding-top: 12px;
  }
  #icon-mode-icons-container {
    margin-top: 15px;
  }
}

/* when screen is narrow - remove all panel contents */
@media (max-height: 380px), (max-width: 920px) {
  #icon-mode-panel {
    display: none !important;
  }
}

#icon-mode-panel-description-text {
  user-select: none;
  padding-bottom: 9px;
}

#icon-mode-upload-icon-button {
  background-color: #1160a2;
  height: 38px;
  min-width: 45px;
}

#icon-mode-user-icon-container {
  vertical-align: middle;
  opacity: 0;
}
