#color-picker-button {
  margin-left: 18px;
  margin-top: 1px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-width: 0;
  border-radius: 10px;
  border: 2px solid #dedede;
  outline: none;
}

#color-picker-panel {
  border: 1px #c0c0c0;
  border-style: solid;
  width: fit-content;
  background-color: #b2b2b2;
  border-radius: 9px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 20px 0px;
  top: 38px;
  margin-left: -2px;
}
