.history-container {
  position: absolute;
  width: 100vw;
  height: calc(50vh - 65px);
  left: calc(-50vw - 52px);
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  margin-top: 50px;
}

.history-container-item {
  margin-top: 10px;
  width: 100vw;
}

.result-header-text {
  user-select: none;
  margin-right: 10px;
}

.history-padding-text {
  color: white;
}

.history-text {
  color: grey;
}
