.copy-button-container {
  position: relative;
  height: auto;
  z-index: 1;
}

.copy-button-icon {
  width: 20px;
  height: 100%;
  position: absolute;
  top: -10%;
  filter: 'brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(9%) hue-rotate(234deg) brightness(96%) contrast(89%)';
}
