.copy-button-container {
  position: relative;
  height: auto;
  z-index: 1;
}

.copy-button-icon {
  width: 20px;
  height: 100%;
  position: absolute;
  filter: brightness(0) saturate(100%) invert(27%) sepia(0%) saturate(0%) hue-rotate(11deg) brightness(95%) contrast(92%);
  height: 17px;
  top: 3px;
  user-select: none;
}

.copy-button-icon:hover {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(188deg) brightness(102%) contrast(102%);
}

.MuiTooltip-tooltip {
  background-color: green !important;
  font-size: 12px !important;
}
